@charset "gb2312";
body,dl,dd,h1,h2,h3,h4,h5,h6,p,span{margin:0;padding:0px;}
html,body{font-family: Microsoft YaHei,Arial, sans-serif;font-size:62.5%;background: #221506;color:#1a5e77;-webkit-tap-highlight-color: rgba(0,0,0,0);width: 100%; height: 100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
img{border: none;padding: 0;margin:0;display:block;width: 100%;}
em,i,b{font-style:normal}
ul,ol{list-style:none;margin:0;padding:0;}
a{text-decoration:none}
a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
input,select,option{outline:none}
.clearfix:after{content:"";display:block;clear:both}.clearfix{zoom:1}
img{border: none;padding: 0;margin:0;display:block;width: 100%;}
.tl{text-align: left;}
.tc{text-align: center;}
.fl{float:left;}
.fr{float:right;}
.pr{position:relative;}
.pa{position:absolute;}
.ht{display:block;overflow:hidden;text-indent:-999em;}
.black{position:fixed!important;_position:absolute;top:0;right:0;bottom:0;left:0;z-index:100;background-color:#000; opacity:0.5; _top:0 !important;filter:alpha(opacity=50);display: none;}

/*loading*/
.loading { width: 100%; height: 100%; opacity: 1; position: absolute; top: 0px; left: 0px; z-index: 9999; background-color: #61cee2; }
.loading .inner { width: 240px; height: 120px; position: absolute; top: 50%; left: 50%; margin: -80px 0 0 -120px; text-align: center; color: #50a001; font-size: 14px; }
.loading .loading_rate { color: #50a001; font-size: 25px; font-weight: bold; line-height: 40px; display: block; }
.loading_img { margin: 0 auto; width: 162px; }
/*wraper*/
.wraper{width: 100%;height:100%;overflow: hidden; background: url(../img/bj.jpg) no-repeat center top;}
#container{width: 100%;height:100%;position: relative;}
.logo{opacity: 0;width:303px; height: 180px; position: absolute; left: 50%; margin-left: -140px; top:40px;}
.container .logo{opacity: 1; -webkit-animation: slideInDown 0.3s ease-out;-moz-animation: slideInDown 0.3s ease-out;animation: slideInDown 0.3s ease-out;}
.tit{opacity: 0; width:510px; height: 325px; position: absolute; left: 50%; margin-left: -255px; top:230px;}
.container .tit{opacity: 1; -webkit-animation: zoomInLeft 0.6s ease-out;-moz-animation: zoomInLeft 0.6s ease-out; animation: zoomInLeft 0.6s ease-out;}
#start{width:249px; display: block; height: 107px; background: url(../img/start.png) no-repeat; position: absolute; left: 50%; margin-left: -125px; top:565px; z-index: 999; ;-moz-transition: all 1.2s;-webkit-transition: all 1.2s;-moz-transform: scale(0); -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0);}
.container #start{-moz-transform: scale(1); -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -webkit-animation: tada 0.8s linear 1s; -moz-animation: tada 0.8s linear 1s; animation: tada 0.8s linear 1s;}
.left_figure{width:275px; height: 236px; position: absolute; left: 50%; margin-left: -245px; top: 650px; opacity: 0;}
.container .left_figure{opacity: 1; -webkit-animation: slideInLeft 0.6s ease-out;-moz-animation: slideInLeft 0.6s ease-out;animation: slideInLeft 0.6s ease-out;}

.right_figure{width:209px; height: 234px; position: absolute; left: 50%; margin-left: 45px; top: 650px; opacity: 0;}
.container .right_figure{opacity: 1; -webkit-animation: slideInRight 0.6s ease-out;-moz-animation: slideInRight 0.6s ease-out; animation: slideInRight 0.6s ease-out;}
.btn_lsit{height: 61px; position: absolute; left: 0; right: 0; top: 900px; text-align: center;}
.btn_lsit a,.pop_btn a{display: inline-block; font-size: 28px; width: 25%;  height: 60px; line-height:60px; color: #fff; margin: 0 5px; background: -moz-linear-gradient(top,#3bc1f9, #0177a8);background: -webkit-linear-gradient(top,#3bc1f9,#0177a8);}
/*排行榜*/
#ranking,#rule,#myRan{padding:8% 5% 2%; display: none; height: 90%;}
.ran_txt{font:bold 36px/50px 'Microsoft YaHei'; color: #004c67; margin: 35% 0 5%; text-align: center;}
.title{text-align: center; font:bold 55px/1.2 'Microsoft YaHei'; color: #004c67;}
.title2{text-align: center; font:bold 20px/40px 'Microsoft YaHei'; color: #004c67;}
.ran_tit{background-color: #107ea5; padding: 10px 0; margin-top: 10px;}
.ran_tit span{display: inline-block; width: 33.333%; text-align: center; font-size: 24px; color: #fff;}
.my_ran_tit span{width: 50%;}
.show_ran{min-height: 530px;}
.show_ran li{border-top: 1px solid #4dc2da;background-color: #fff;}
.show_ran li span{width: 33.3333%; padding: 6px 0; border-right: 1px solid #4dc2da; display: inline-block; font-size: 24px; color: #2096bd; text-align: center; box-sizing: border-box;}
.show_my li span{width: 50%;}
#ranHeTi li{background-color: #d7f5ff;}
.show_ran li span:last-child{border-right:1px solid #fff;}
.back{margin:15px auto; display: block; width: 428px; height: 71px; overflow: hidden; text-indent: -999px; background: url(../img/back_home.png) no-repeat}
/*活动规则*/
.rule_txt{background: #dff5f9; padding: 30px; margin-top: 50px;}
.rule_txt p{color: #2096bd; font-size: 24px; margin-bottom: 10px; }
/*音乐*/
.btn_music{position: absolute; top: 25px; right: 25px; z-index: 10000;}
.btn_music a{display: block; width: 44px; height: 44px;}
.btn_music a span{display: block; width: 44px; height: 44px; float: right; background: url(../img/music.png) no-repeat; background-position: right center;}
.btn_music a.on span{background-position: left center;}
/*合体*/
#moveBox{height: 100%; width: 100%; position: relative;}
#moveBj{display: block;position:absolute!important;}
.prompt{z-index: 999; text-align: center; position:absolute; top: 0; left: 0; right: 0; color: #fff; padding-top: 10%; height: 90%;}
.t1{font:bold 83px/100px 'Microsoft YaHei'; margin: 10px auto;}
.t2{font:bold 27px/30px 'Microsoft YaHei';}
.t3{font:30px/25px 'Microsoft YaHei'; margin: 20% 0 1%;}
.ready_txt{font:bold 160px/160px 'Microsoft YaHei'; color: #fff; display: block; margin: 0 auto;}
.bar{width: 540px; height: 60px; position: absolute; z-index: 999; left:50%; top:55%; margin: 30px 0 0 -270px; border-radius: 30px; background: -moz-linear-gradient(top,#ffbe00, #ea6b00);background: -webkit-linear-gradient(top,#ffbe00,#ea6b00);}
.success{width: 230px; height: 60px; position: absolute; left: 50%; z-index: 1; top: 0; margin-left: -115px; background: -moz-linear-gradient(top,#ffac00, #d14700);background: -webkit-linear-gradient(top,#ffac00,#d14700);}
.perfect{width: 66px; height: 60px; position: absolute; left: 50%; top: 0; z-index: 10; margin-left: -33px; background: -moz-linear-gradient(top,#ff8f00, #c30f00);background: -webkit-linear-gradient(top,#ff8f00,#c30f00);}
#result{padding: 30% 0 0 9%; display: none;}
#resultTxt{font:bold 60px/70px 'Microsoft YaHei'; color: #000;}
.fraction{font:bold 135px/140px 'Microsoft YaHei'; color: #e33400;}
#roll{position: absolute; top: 67px; display: block; height: 22px; width: 26px; background: url(../img/angle.png) no-repeat;}
#figure{position: absolute; left: 0; right: 0; bottom: 33%;}
.dazzle,.dazzle2{width: 500px; height: 500px; position: absolute; left: 50%; top: -145px; margin-left:-225px; background: url(../img/dazzle.png) no-repeat; z-index: 10;animation: rtMv 1s linear infinite;-moz-animation: rtMv 1s linear infinite;-webkit-animation: rtMv 1s linear infinite;}
.p1{width: 275px; height: 236px; position: absolute; left: 50%; top: -5px; margin-left: -190px; z-index: 100;}
.p2{width: 253px; height: 213px; position: absolute; left: 50%; top: 30px; margin-left: 20px; z-index: 100;}

.separate .p1,.separate .p2{-moz-transition: all .8s;-webkit-transition: all .8s;-o-transition: all .8s;}
.separate .p1{opacity: 1;margin-left:-410px; /*-445px*/}
.separate .p2{opacity: 1;margin-left:160px; /*-230px*/}
.separate2 .p1,.separate2 .p2{opacity: 0; -moz-transition: all 1.2s;-webkit-transition: all 1.2s;}
.separate2 .p1{opacity: 0;margin-left:-445px}
.separate2 .p2{opacity: 0;margin-left:300px}

#switchBtn,#ready{position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%; z-index: 9999; display: none; overflow: hidden; text-indent: -999px;}
/*弹出*/
#popUp{background-color: rgba(0,0,0,.5); position: fixed; right: 0; top: 0; height: 100%; width: 100%; z-index: 9999; text-align: center; display: none;}
.pop_box{margin: 30% 5% 0; background-color: #c2efff; padding: 25px;}
.pop_btn{width: 100%; height: 61px; margin: 25px 0;}
.pop_btn a{width: 30%; margin: 0;}
.pop_frac{font:bold 80px/90px 'Microsoft YaHei'; color: #0097d7; padding-top: 20px;}
.pop_txt{font:bold 24px/1.5 'Microsoft YaHei'; color: #000;}
#pop_back{font:bold 28px/70px 'Microsoft YaHei'; color: #fff; display: block; background: -moz-linear-gradient(top,#3bc1f9, #0177a8);background: -webkit-linear-gradient(top,#3bc1f9,#0177a8); border-radius: 10px;}
.user_input{padding: 15px 0 5px;}
#userQq{background: #c2efff; border: 1px solid #067dae; height: 48px; line-height: 48px; float: left; width: 50%; font-size: 24px; color: #0097d7; padding: 0 5%;}
#submit{height: 48px; line-height: 48px; width: 30%; float: right; font-size: 24px; color: #fff; background: -moz-linear-gradient(top,#ffc500, #ff6d00);background: -webkit-linear-gradient(top,#ffc500,#ff6d00);}
/*竖屏*/
.mask{width:100%; height:100%; background:#32373b;position: absolute; left:0;top: 0;z-index:50; display:none;}
.mask-box{width: 100%;height: 252px;position: absolute;top: 50%;left:0;margin-top: -119px;}
.mask-pic{width: 194px;height: 194px;margin: 0 auto;text-align: center;}
.mask span{font-size:22px;display:block;color:#ffd40a; text-align:center;width: 100%;height: 25px;padding-top: 10px;}
.mask i{width: 128px;height: 194px;background: url(../img/hengping.png) 0 0 no-repeat;background-size: 128px 194px;display: block;margin: 0 auto;-webkit-animation: maskAni 1.5s linear infinite alternate;animation: maskAni 1.5s linear infinite alternate;}
@-webkit-keyframes maskAni{
    0% {-webkit-transform:rotate(-90deg);}
    30% {-webkit-transform:rotate(-90deg);}
    70%{-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(0deg);}

}

/*css3动画*/
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



@-webkit-keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}


@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}




@-webkit-keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		opacity: 1;
	}

 	80% {
		-webkit-transform: translate3d(-15%, 0, 0);
		transform: translate3d(-20%, 0, 0);
		opacity: .8;
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 1;
  }

 80% {
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
		opacity: .8;
	}

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}




@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity: 1;
  }


	80% {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    opacity: .8;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity: 1;
  }

	80% {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    opacity: .8;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.pulse{
	-webkit-animation: pulse 1.5s infinite ease-in;
       -moz-animation: pulse 1.5s infinite ease-in;
            animation: pulse 1.5s infinite ease-in;
}

.pulse2{
	-webkit-animation: pulse2 1.5s infinite ease-in;
       -moz-animation: pulse2 1.5s infinite ease-in;
            animation: pulse2 1.5s infinite ease-in;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
    -webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}



@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);

	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
    -webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}
 
#figure .dazzle2 {
  -webkit-animation: fire 1s infinite ease-in alternate;
  -moz-animation: fire 1s infinite ease-in alternate;
  animation: fire 1s infinite ease-in alternate;
}
@-webkit-keyframes fire {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.6);
  }
}
@-moz-keyframes fire {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.6);
  }
}
@keyframes fire {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}

@keyframes rtMv{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
@-webkit-keyframes rtMv {
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@-o-keyframes rtMv{
	0%{-o-transform: rotate(0deg);}
	100%{-o-transform: rotate(360deg);}
}
@-moz-keyframes rtMv{
	0%{-moz-transform: rotate(0deg);}
	100%{-moz-transform: rotate(360deg);}
}
